name: Build custom nginx

on:
  push:
    paths-ignore:
      - '**.md'
  workflow_call:

env:
  REGISTRY: docker.io
  IMAGE_NAME: georgjung/nginx-brotli

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag: mainline
            dockerfile: Dockerfile
          - tag: mainline-alpine
            dockerfile: Dockerfile.alpine
    steps:
    - uses: actions/checkout@v3 # we need the bash script in this repo
    - name: get tags besides ${{ matrix.tag }}
      id: tags
      run: |
        echo "tags<<eof58302eedc85c" >> $GITHUB_OUTPUT
        ./docker-tag-groups.sh library/nginx ${{ matrix.tag }} | jq '.[][][]' | sort | uniq | tr -d '\"' | awk '{print "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:" $0}' >> $GITHUB_OUTPUT
        echo "eof58302eedc85c" >> $GITHUB_OUTPUT
      shell: bash
    - name: Download Dockerfile
      run: curl https://raw.githubusercontent.com/nginxinc/docker-nginx/master/modules/${{ matrix.dockerfile }} > ${{ matrix.dockerfile }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push container image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ${{ matrix.dockerfile }}
        tags: |
          ${{ steps.tags.outputs.tags }}
        platforms: linux/amd64,linux/arm64
        build-args: ENABLED_MODULES=brotli
        push: true
